  * {
    color : rgb(9, 211, 147);
  }
  h1{
    color:rgb(216, 225, 222);
  }
  button{
    color:rgb(77, 90, 228);
 }
 #headingone{
    color: rgb(231, 231, 108);
 }
 #headingtwo{
    color: rgb(150, 189, 234);
 }
 .Myclass{
    color:rgb(43, 243, 243);
 }